body {
  margin: 0px;
  padding: 0px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #c850c0 0%, #0093e9 100%);
}

main {
  margin-left: 220px;
  padding: 15px;
  color: #fff;
}

.sidebar {
  border-radius: 30px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  font-size: 20px;
  top: 20px;
  width: 180px;
  height: 100%;
  color: #e1ffff;
}

.sidebar .brand {
  padding: 20px;
  line-height: 50px;
  text-align: center;
}

.sidebar .toggle-btn {
  display: none;
  margin-top: 16px;
}

.sidebar ul,
.sidebar li {
  padding: 0px;
  margin: 0px;
  line-height: 4rem;
  cursor: pointer;
  visibility: visible !important;
}

.sidebar li i.sidebar-icon {
  margin-right: 0.9rem;
  font-size: 1.5em;
}

.sidebar ul .active,
.sidebar li .active {
  border-left: 3px solid #e1ffff;
}

.sidebar li {
  padding-left: 0px;
  border-left: 3px solid #fff;
}

.sidebar li a {
  display: block;
  text-decoration: none;
  color: #e1ffff;
}

.sidebar li a i {
  padding-left: 10px;
  padding-right: 25px;
  width: 20px;
}

.sidebar li:hover {
  border-left: 3px solid #e1ffff;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.dashboard header {
  font-weight: bold;
}

select option {
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

.row {
  margin-bottom: 12px;
}

.card,
.barchart,
.donutchart,
.table {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
}

.card-header,
.card-body .card-title,
.table h5,
.donutchart h5 {
  font-size: 1.5em;
  font-weight: bold;
}

.table {
  padding: 15px;
}

.donutchart h5 {
  padding: 10px;
}


@media (max-width: 767px) {
  main {
    margin-left: 0 !important;
    padding: 0 15px 15px 15px;
  }
  .sidebar {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .sidebar .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 7px;
    z-index: 10 !important;
    padding: 3px;
    width: 40px;
    text-align: center;
    background-color: #2e353d;
    border-radius: 4px;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .card {
    margin-bottom: 12px;
  }
}

@media (min-width: 767px) {
  .sidebar .menu-list .menu-content {
    display: block;
  }
}